<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layouttemplate :: layout (~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Succsess</h1>

<form  method="post" th:object="${subscriber}" >


    <div id="my_form" >
        <p>Sign Up for the <strong>NEWSLETTER</strong></p>
        <input class="input" type="email" placeholder="Enter Your Email" >
        <button type="submit" id="nextStep" class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>


    </div>
</form>
<div  id="thank_you" style="display: none;">
    <h2>You have successfully registered to newsletter</h2>
    <button id="close">Close</button>


</div>
<script>
    var nextStep = document.querySelector('#nextStep');
    var close = document.querySelector('#close');

    nextStep.addEventListener('click', function (e) {
        e.preventDefault();

        document.getElementById('my_form').style.display = 'none';


        document.getElementById('thank_you').style.display = 'block';
        close.addEventListener('click', function (e) {
            e.preventDefault();
            document.getElementById('thank_you').style.display = 'none';
        });});

</script>


</body>
</html>